<!DOCTYPE html>
<html>
  <head>
    <title>Koombea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <nav class="nav">
          <a class="nav-link disabled"><%= t('views.layout.logged_as', username: current_user.username) %></a>
          <%= link_to t('views.layout.home'), root_path, class: 'nav-link' %>
          <%= link_to t('views.layout.logout'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </nav>
      <% end %>

      <% flash.each do |type, msg| %>
        <div><%= msg %></div>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
