<!DOCTYPE html>
<html>
  <head>
    <title>Koombea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= t('views.layout.logged_as', username: current_user.username) %> |
      <%= link_to t('views.layout.home'), root_path %> |
      <%= link_to t('views.layout.logout'), destroy_user_session_path, method: :delete %>
    </div>

    <% flash.each do |type, msg| %>
      <div><%= msg %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
